.card-pad{
    padding-top : 0px;
    padding-bottom: 15px;

}

.card-pad-one-line{
    padding-top : 2px;
    padding-bottom: 2px;
}

.card-warning {
  background-color: rgb(243, 141, 46);
}


.stonk td:first-child .MuiBox-root span::first-letter  {
    color:green
}


.not-stonk td:first-child .MuiBox-root span::first-letter  {
    color:red
}
